In [ ]:
# 512. Game Play Analysis II

with CTE as (
    select player_id, min(event_date) as mn_date from Activity
    group by player_id
)

select A.player_id, A.device_id from Activity A
inner join CTE C on C.player_id = A.player_id
where A.event_date = C.mn_date
--------------------------------------------------------------------
With CTE as(
select player_id, 
    row_number() over(partition by player_id order by event_date) as RN, device_id from Activity)

select player_id, device_id from CTE
where RN = 1

In [ ]:
# 534. Game Play Analysis III

select player_id, event_date,
    sum(games_played) over(partition by player_id order by event_date) as games_played_so_far from Activity
    
# Tip: The default window frame without the ORDER BY is the whole partition. 
# But when you use the ORDER BY, the default window frame 
# is RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW.

In [ ]:
# 571. Find Median Given Frequency of Numbers

select  avg(n.num) median
from Numbers n
where n.Frequency >= abs((select sum(Frequency) from Numbers where num<=n.num) -
                         (select sum(Frequency) from Numbers where num>=n.num))

In [ ]:
# 610. Triangle Judgement

select x,y,z, 
    CASE
        WHEN x+y>z and x+z>y and y+z>x Then 'Yes'
        ELSE 'No'
        END as triangle
from Triangle

In [ ]:
# 613. Shortest Distance in a Line

select min(abs(P1.x - P2.x)) as shortest from Point P1
inner join Point P2 on P1.x != P2.x

In [ ]:
# 1068. Product Sales Analysis I

select P.product_name, S.year, S.price  from Sales S
inner join Product P on P.product_id = S.product_id

In [ ]:
# 1068. Product Sales Analysis I

select P.project_id, round(AVG(E.experience_years),2) as average_years from Project P
inner join Employee E on P.employee_id = E.employee_id
group by P.project_id

In [ ]:
# 1076. Project Employees II

with CTE as (
select project_id, count(employee_id) as cnt from Project
group by project_id
)
select project_id from CTE
where cnt = (select max(cnt) from CTE)

In [ ]:
# 1076. Project Employees II

with CTE as (
select P.project_id, max(E.experience_years) as mxe from Project P
inner join Employee E on P.employee_id = E.employee_id
group by P.project_id)

select P.project_id, P.employee_id from CTE
inner join Project P on P.project_id = CTE.project_id
inner join Employee E on E.employee_id = P.employee_id
where E.experience_years = CTE.mxe

--------------------------------------------------------------------------------

select P.project_id, P.employee_id from Project P
inner join Employee E on E.employee_id = P.employee_id
where (P.project_id, E.experience_years) in (select P.project_id, max(E.experience_years) from Project P
inner join Employee E on E.employee_id = P.employee_id
group by P.project_id)

In [ ]:
# 1082. Sales Analysis I

select seller_id from Sales
group by seller_id
having sum(price) = (select max(sm) from (
    select sum(price) as sm from Sales
    group by seller_id
) tmp)

In [ ]:
# 1083. Sales Analysis II

select S.buyer_id from Sales S
inner join Product P on S.product_id = P.product_id
group by S.buyer_id
having sum(P.product_name = 'S8') > 0 and sum(P.product_name = 'iPhone') = 0

--------------------------------------------------------------------------------

select S.buyer_id from Sales S
inner join Product P on S.product_id = P.product_id
group by S.buyer_id
having sum(Case when P.product_name = 'S8' then 1 else 0 end) > 0 and sum(Case when P.product_name = 'iPhone' then 1 else 0 end) = 0

In [ ]:
# 1113. Reported Posts

select extra as report_reason, count(distinct post_id) as report_count from Actions
where action_date = '2019-07-04' and action = 'report'
group by extra


Tips: 
# 1) group by 1: It means to group by the first column of your result set regardless of what it's called. 
# You can do the same with ORDER BY.

In [ ]:
# 1322. Ads Performance

With CTE as (
select ad_id, sum(action = 'Clicked') as Clicked, sum(action = 'Viewed') as Viewed
from Ads
group by ad_id)

select ad_id, round(Ifnull(Clicked / (Clicked + Viewed)* 100.0,0),2) as ctr  from CTE
order by ctr desc, ad_id asc

--------------------------------------------------------------------------------

select ad_id, round(ifnull(sum(action = 'Clicked') / sum(action = 'Viewed' or action = 'Clicked') * 100.0,0),2) as ctr
from Ads
group by ad_id
order by ctr desc, ad_id asc

In [ ]:
# 1350. Students With Invalid Departments

select id, name from Students
where department_id not in (select distinct id from Departments)

In [ ]:
# 1511. Customer Order Frequency

select O.customer_id, C.name from Orders O
inner join Product P on P.product_id = O.product_id
inner join Customers C on C.customer_id = O.customer_id
group by O.customer_id
having 
sum(Case When month(O.order_date) = 6 then O.quantity * P.price else 0 end) >= 100 
and 
sum(Case When month(O.order_date) = 7 then O.quantity * P.price else 0 end) >= 100 

# Tips: you can use sum(something) > 5 inside having clause
# 2) learn sum(case ... end) as alias

In [ ]:
# 1517. Find Users With Valid E-Mails

SELECT
  *
FROM
  Users
WHERE
  mail REGEXP '^[a-zA-Z][a-zA-Z0-9_.-]*@leetcode[.]com$';

# Learn Regex from this link
# Tips: https://leetcode.com/problems/find-users-with-valid-e-mails/solutions/1362794/mysql-easy-to-understand-usage-of-regexp-with-detailed-explanation-and-documentation/

In [ ]:
# 1495. Friendly Movies Streamed Last Month

select distinct C.title from TVProgram T
inner join Content C on C.content_id = T.content_id
where LEFT(T.program_date,7) = '2020-06' and C.Kids_content = 'Y' and C.content_type = 'Movies'

# Tips: Pay attention to LEFT(data,7) = something