In [ ]:
# 512. Game Play Analysis II

with CTE as (
    select player_id, min(event_date) as mn_date from Activity
    group by player_id
)

select A.player_id, A.device_id from Activity A
inner join CTE C on C.player_id = A.player_id
where A.event_date = C.mn_date
--------------------------------------------------------------------
With CTE as(
select player_id, 
    row_number() over(partition by player_id order by event_date) as RN, device_id from Activity)

select player_id, device_id from CTE
where RN = 1

In [ ]:
# 534. Game Play Analysis III

select player_id, event_date,
    sum(games_played) over(partition by player_id order by event_date) as games_played_so_far from Activity
    
# Tip: The default window frame without the ORDER BY is the whole partition. 
# But when you use the ORDER BY, the default window frame 
# is RANGE BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW.

In [ ]:
# 571. Find Median Given Frequency of Numbers

select  avg(n.num) median
from Numbers n
where n.Frequency >= abs((select sum(Frequency) from Numbers where num<=n.num) -
                         (select sum(Frequency) from Numbers where num>=n.num))

In [ ]:
# 610. Triangle Judgement

select x,y,z, 
    CASE
        WHEN x+y>z and x+z>y and y+z>x Then 'Yes'
        ELSE 'No'
        END as triangle
from Triangle

In [ ]:
# 613. Shortest Distance in a Line

select min(abs(P1.x - P2.x)) as shortest from Point P1
inner join Point P2 on P1.x != P2.x

In [ ]:
# 1068. Product Sales Analysis I

select P.product_name, S.year, S.price  from Sales S
inner join Product P on P.product_id = S.product_id

In [ ]:
# 1068. Product Sales Analysis I

select P.project_id, round(AVG(E.experience_years),2) as average_years from Project P
inner join Employee E on P.employee_id = E.employee_id
group by P.project_id